* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');


/* General */
body,
p {
    font-family: "Jost", sans-serif;
    color: #292F36;
}
h1 {
    font-family: "DM Serif Display", serif;
}
h2 {
    font-family: "DM Serif Display", serif;
}
h3 {
    font-family: "Jost", sans-serif;
    color: #292F36;
}

p {
    font-size: 15px;
    font-weight: 400;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-size: 85px;
    font-weight: 800;
}

h2,
h3 {
    font-family: "DM Serif Display", serif;
}

h3 {
    font-size: 20px;
    font-weight: 600;
} 

/* Header */
.headerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 30px 0;
    position: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logoLink img {
    width: 140px;
}

.navList {
    display: flex;
    gap: 35px;
}

.navLink {
    color: black;
    font-size: 16px;
}

/* Background */
.bg1 {
    background: url(assets/Banner.jpg) no-repeat center/cover;
    height: 100vh;
    border-radius: 0 0 0 280px;
}

/* Utilities */
.flex {
    display: flex;
    flex-wrap: wrap;
}

.spaceBetween {
    justify-content: space-between;
}

.alignCenter {
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.defaultpadding {
    padding: 0 301px;
}

.top20 {
    margin-top: 20px;
}

.txtAlignCenter {
    text-align: center;
}

.halfVH {
    height: 50vh;
    width: auto;
}

/* Hero */
.hero {
    height: 100vh;
    background: url("assets/Banner.jpg") no-repeat center/cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 150px;
}

.heroContent {
    width: 100%;
}

.heroContent h1 {
    font-weight: 400;
    font-size: 65px;
    margin-bottom: 10px;
}

.heroContent p {
    font-size: 16px;
}

.heroBtn {
    color: white;
    font-size: 16px;
    background: black;
    border-radius: 15px;
    padding: 23px 18px;
    font-weight: 600;
    display: inline-block;
    margin-top: 20px;
}

.heroBtn span {
    font-weight: 100;
    color: #CDA274;
}

/* Section 2 */
.s2 {
    margin: 120px;
}

.s2Content {
    width: 25%;
    text-align: center;
}

.s2Content h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.s2Content p {
    font-size: 16px;
    font-weight: 200;
    word-spacing: 1%;
}

/* Section 3 */
.s3 {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}

.s3Img {
    width: 47%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 300px 0 100px;
}

.s3Container {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.s3Container h2 {
    font-size: 40px;
    font-weight: 400;
}

.s3Paragraph {
    color: #4D5053;
    font-size: 16px;
    margin: 40px 0;
}

.phoneNumberText .number {
    font-size: 18px;
    font-weight: 700;
}

.phoneText p {
    font-size: 16px;
    font-weight: 400;
}

.phoneImage {
    background: #F4F0EC;
    padding: 20px;
    border-radius: 100px;
    margin-right: 10px;
}

.phoneContainer img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.s3Btn {
    color: white;
    font-size: 16px;
    background: black;
    border-radius: 15px;
    padding: 23px 18px;
    font-weight: 600;
    display: inline-block;
    margin-top: 40px;
}

.s3Btn span {
    font-weight: 100;
    color: #CDA274;
}

/* Section 4 */
.s4 {
    background: #F4F0EC;
}

.s4 h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
}

.s4Content {
    width: 370px;
    padding: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 2px #b3b3b3;
    border-radius: 32px;
}

.s4Content img {
    margin-right: 16px;
}

.p1 {
    font-size: 18px;
    margin-bottom: 5px;
}

.p2,
.p3 {
    font-size: 16px;
}

/* Section 5 */
.clientLogo {
    display: flex;
    justify-content: center;
    height: 40vh;
}

.clientLogoContainer img {
    width: 110px;
    margin: 0 40px;
}

/* Section 7 */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 40vh;
}

.contact h2 {
    font-family: 'DM Serif Display', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: white;
}

.contact p {
    font-family: 'Jost', sans-serif;
    color: #D2D2D2;
    font-size: 16px;
    margin: 15px 0 25px 0;
}

.contactText {
    padding: 10px 20px;
    width: 550px;
    border-radius: 10px;
}

.contactText::placeholder {
    color: #D2D2D2;
    font-family: 'Jost', sans-serif;
}

/* Projets */
.projetContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

.projetContent {
    margin-bottom: 100px;
}

.projetImage {
    height: 500px;
    object-fit: cover;
}

.projet h2 {
    text-align: center;
}

.cardProjet {
    border-radius: 0 30px 0 0;
}
/* Footer */
footer {
    display: flex;
    flex-direction: column;
}

.footerContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    padding: 90px 0;
}

.footer h3 {
    font-size: 18px;
    font-weight: 400;
}

.footer p {
    font-size: 16px;
}

.marginBottom20 {
    margin-bottom: 20px;
}

.marginBottom30 {
    margin-bottom: 30px;
}